<!DOCTYPE html>
<html lang="en">

<head>
	<title>Happy Panda</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!-- ALL CSS FILES -->
	<link href="/css/materialize.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="/css/responsive.css" rel="stylesheet">
</head>
<body data-ng-app="">
