<header>
    	<section>
		<div class="mm">
			<div class="mm-inn">
				<div class="mm-logo">
						<a href="/"><img style="width: 64px; height: 64px;" src="images/logo1.png" alt="" />
						</a> <span style="color: white; font-weight: 800; font-size: 1.7rem;">&nbsp;Panda Restaurant</span>
				</div>
				<div class="mm-icon"><span><i class="fa fa-bars show-menu" aria-hidden="true"></i></span>
				</div>
				<div class="mm-menu">
					<div class="mm-close"><span><i class="fa fa-times hide-menu" aria-hidden="true"></i></span>
					</div>
					<ul>
						<li><a href="/">Home</a>
						</li>
						<li><a href="/aboutus">About Us</a>
						</li>
						<li><a href="/contactus">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--HEADER SECTION-->
	<section class="main">
		<!--TOP SECTION-->
		<div class="menu-section">
			<div class="container">
				<div class="row">
					<div class="top-bar">
						<ul>
							<li><a href="/aboutus">About Us</a>
							</li>
							<li><a href="/contactus">Contact Us</a>
							</li>
							<li><a href="#">Call us: 254 123 456</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="logo">
						<a href="/"><img style="width: 64px; height: 64px;" src="images/logo1.png" alt="" />
						</a> <span style="color: white; font-weight: 800; font-size: 1.7rem;">&nbsp;Panda Restaurant</span>
					</div>
					<div class="menu-bar">
						<ul>
							<li><a href="/" class='dropdown-button'>Home</a>
							</li>
							<li><a href="/getAllBookings" class='dropdown-button'>Reservation Search</a>
							</li>
							<li><a href="/bookingform" class='dropdown-button'>Booking</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
    </section>
</header>
