<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
      		<div class="inn-body-section">
			<div class="container">
				<div class="row">
					<div class="page-head">
						<h2>About Us</h2>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
						<p>if you need any further information, let contact us by phone</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="about-left">
							<h2>Welcome to <span>Panda restaurant</span></h2>
							<h4>The idea of building the restaurant followed environmental activists.</h4>
							<p>The restaurant has built in rect years, but it attracts a thousands of visiors each year</p>
						</div>
					<div class="col-md-6">
						<div class="about-right"> <img src="images/falconlake.jpg" alt=""> </div>
					</div>
				</div>
			</div>
		</div>
    </main>
    <%- include('includes/end.ejs') %>