<%- include('includes/head.ejs') %>
	</head>

	<body>
		<%- include('includes/navigation.ejs') %>
			<main>
				<div class="hom-body-section">
					<div class="container">
						<div class="row">
							<div class="page-head">
								<h2>Booking Confirmed</h2>
								<div class="head-title">
									<div class="hl-1"></div>
									<div class="hl-2"></div>
									<div class="hl-3"></div>
								</div>
								<p class="content">
									We are pleased to inform you that your restaurant reservation request has been
									received and confirmed.
									<br><br>
									<img style="width: 128px; height: 128px;" src="/images/logo1.png">
									<br>
									Your booking is confirmed. Thank You!
								</p>
							</div>
						</div>

						<% if (ViewContent) { %>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Booking ID</th>
										<th>Full Name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Number of Guests</th>
										<th>Date</th>
										<th>Time</th>
										<th>Table Type</th>
										<th>Special Requests</th>
										<th>Status</th>
									</tr>
								</thead>
									<!-- the area for table body -->
													 <tbody>
															<%- ViewContent %>
													 </tbody>
													<!-- end -->
							</table>
							<% } else { %>
								<h3>No Booking Data!</h3>
								<% } %>
					</div>
				</div>
			</main>
			<%- include('includes/end.ejs') %>