<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="main">
        <div class="hom-body-section">
			<div class="container">
				<div class="row">
					<div class="home-bod">
						<div class="home-bod-1">
							<h4>Today up to <span>50%</span> offer</h4>
							<h2>Enjoy tour trip at Riding Mountain National Park</h2>
							<p>Riding Mountain is home to a staggering diversity of living things.
								 The windswept grasslands and deep, silent forests, of secretive wolf packs, of orchids and lilies, of lakes and wetlands singing with life. 
								 Riding Mountain National Park is in Treaty 2 Territory, where we work with Anishinabe, First Nations from treaties 2, 4, and 1.</p>
							<div>
		         <a href="/bookingform" class="waves-effect waves-light btn-large wed-pop-ser-btn"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>&nbsp;Booking Now</a>&nbsp;&nbsp;	
						 <a href="/getAllBookings" class="waves-effect waves-light btn-large"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Reservations Search</a> 
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </main>
    <%- include('includes/end.ejs') %>