<%- include('includes/head.ejs') %>
	</head>

	<body>
		<%- include('includes/navigation.ejs') %>
			<main class="main">
				<div class="hom-body-section">
					<div class="container">
						<div class="row">
							<div class="home-bod">
								<div class="home-bod-1">
									<h4>Today up to <span style="color: yellow;">50%</span> offer</h4>
									<h2>Enjoy your meals at our restaurant</h2>
									<p>Scratch to reveal exclusive offers or even an $888 Panda gift card</p>
									<p>Panda is honored to be the only fast casual restaurant brand awarded as one of
										the best places to work. Alongside the stellar total rewards package and
										unparalleled earning and growth potential, our workplace offers a greater sense
										of belonging,
										rooted in a people-first and purpose-driven culture.</p>
									<div>
										<a href="/bookingform"
											class="waves-effect waves-light btn-large wed-pop-ser-btn"><i
												class="fa fa-hand-pointer-o" aria-hidden="true"></i>&nbsp;Order
											Now</a>&nbsp;&nbsp;
										<a href="/menu" class="waves-effect waves-light btn-large"><i
												class="fa fa-search" aria-hidden="true"></i>&nbsp;Menu</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<%- include('includes/end.ejs') %>