<%- include('includes/head.ejs') %>
	</head>

	<body>
		<%- include('includes/navigation.ejs') %>
			<!-- checking are there any error-->
			<% if (hasErrorInsertedData) { %>
				<script>
					alert("There is some error in making the reservation, please try again!");
				</script>
				<% } %>
					<div class="inn-body-section inn-booking">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="book-form inn-com-form">
										<form class="col s12 bg-top-booking-form" action="/add-bookinginfo"
											method="POST" onsubmit="return validateBookingForm()">
											<div class="row" style="margin-top: 4%;">
												<div class="page-head">
													<h2>Restaurant Reservation</h2>
													<br>
													<div class="head-title">
														<div class="hl-1"></div>
														<div class="hl-2"></div>
														<div class="hl-3"></div>
													</div>
													<h5>Experience fine dining at its best</h5>
												</div>
											</div>
											<div class="divider-top-booking-form row">
												<div class="col s12">
													<div class="col s6"><b>First Name</b></div>
													<div class="col s6"><b>&nbsp;&nbsp;Last Name</b></div>
												</div>
												<div class="input-field col s6">
													<input name="firstName" id="firstName" type="text"
														class="form-control validate userinputcontrols" required>
												</div>
												<div class="input-field col s6">
													<input name="lastName" id="lastName" type="text"
														class="form-control validate userinputcontrols" required>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col s12">
													<div class="col s6"><b>Email</b></div>
													<div class="col s6"><b>&nbsp;&nbsp;Phone</b></div>
												</div>
												<div class="input-field col s6">
													<input type="email" name="email" id="email"
														class="form-control validate userinputcontrols" required>
												</div>
												<div class="input-field col s6">
													<input type="tel" name="phone" id="phone"
														class="form-control validate userinputcontrols" required>
												</div>
											</div>
											<br>
											<h4>Table Requirements</h4>
											<hr>
											<div class="row">
												<div class="col s12">
													<div class="col s12"><b>Table Type</b></div>
												</div>
												<div class="input-field col s12">
													<select name="tableType" id="tableType" class="userinputcontrols"
														required>
														<option value="" disabled selected>Please Select</option>
														<option value="0">Two-seater Table
														</option>
														<option value="1">Four-seater Table
														</option>
														<option value="2">Six-seater Table
														</option>
														<option value="3">Large Group Table (Up to 12 people)
														</option>
													</select>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col s12">
													<div class="col s12"><b>Number of Guests</b></div>
												</div>
												<div class="input-field col s12">
													<input type="number" name="numberOfGuests" id="numberOfGuests"
														class="form-control validate userinputcontrols" min="1" max="12"
														required>
												</div>
											</div>
											<br>
											<h4>Reservation Details</h4>
											<hr>
											<div class="row">
												<div class="col s12">
													<div class="col s6"><b>Date</b></div>
													<div class="col s6"><b>Time</b></div>
												</div>
												<div class="input-field col s6">
													<input type="date" name="date" id="date"
														class="form-control userinputcontrols" required>
												</div>
												<div class="input-field col s6">
													<input type="time" name="time" id="time"
														class="form-control time-input" required>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col s12">
													<div class="col s12"><b>Special Requests</b></div>
												</div>
												<div class="input-field col s12">
													<textarea name="specialRequests" id="specialRequests"
														class="userinputcontrols materialize-textarea"
														placeholder="Dietary requirements, special occasions, seating preferences, etc."
														data-length="120"></textarea>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="input-field col s12">
													<input type="submit" value="Make Reservation"
														class="userinputcontrols form-btn">
												</div>
											</div>
										</form>
									</div>
								</div>
								<!--END TYPOGRAPHY SECTION-->
							</div>
						</div>
					</div>
					<%- include('includes/end.ejs') %>
	</body>

	</html>